<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EMPURAAN</a>
    </div>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> Dashboard</a></li>
        <li><a href="#"> Positions</a></li>
        <li><a href="#">Funds</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
    </div>
  </div>
</nav>

