<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">EMPURAAN</a>
    </div>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/home/dashboard"> Dashboard</a></li>
        <li><a routerLink="/home/positions"> Positions</a></li>
        <li><a routerLink="/home/funds">Funds</a></li>
        <li><a routerLink="/home/forums">Forums</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
    </div>
  </div>
</nav>
