nav {
  font-size: 17px;
  background-color: white;
}
#Navbar ul li {
  padding-left: 10px;
}
.navbar-brand {
  margin-left: 10px;
  padding-left: 100px;
  font-size: 25px;
}
.watchlist a {
  color: #f8f8f8 !important;
  visibility: hidden;
}
@media screen and (max-width: 540px) {
  .navbar-brand {
    padding-left: 10px;
  }
  .watchlist a {
    color: #777 !important;
    visibility: visible;
  }
}
@media screen and (width: 1024px) {
  .navbar-brand {
    padding-left: 100px;
  }
  .watchlist a {
    color: #f8f8f8 !important;
  }
}
@media screen and (width: 768px) {
  .navbar-brand {
    padding-left: 65px;
  }
  .watchlist a {
    color: #f8f8f8 !important;
  }
}
