.completed, .pending, .ongoing{
  float: right;
  //margin-right: 15px;
  width: 800px;
}
.ongoing{
  margin-top: 0px;
}
.ongoing, .pending{
  margin-bottom: 50px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
