<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let position of positionList">
    <a class="nav-link active" (click)="getData(position)">{{position}}</a>
  </li>
</ul>
<table class="table">
  <thead>
    <tr>
      <th scope="col" *ngFor="let header of headers">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of dataList">
      <th scope="row">{{obj.instrument}}</th>
      <td>{{obj.qty}}</td>
      <td>{{obj.price}}</td>
      <td>{{obj.sl}}</td>
    </tr>
  </tbody>
</table>
<!-- <div class="ongoing">
  <h3>Ongoing</h3>
  <table>
    <tr>
      <th>Instrument</th>
      <th>Qty.</th>
      <th>Price</th>
      <th>SL</th>
    </tr>
    <tr>
      <td>RELIANCE</td>
      <td>2000</td>
      <td>2351</td>
      <td>2339</td>
    </tr>
    <tr>
      <td>RELIANCE</td>
      <td>2000</td>
      <td>2351</td>
      <td>2339</td>
    </tr>
  </table>
</div>
<div class="pending">
  <h3>Pending</h3>
  <table>
    <tr>
      <th>Instrument</th>
      <th>Qty.</th>
      <th>Price</th>
      <th>SL</th>
    </tr>
    <tr>
      <td>RELIANCE</td>
      <td>2000</td>
      <td>2351</td>
      <td>2339</td>
    </tr>
    <tr>
      <td>RELIANCE</td>
      <td>2000</td>
      <td>2351</td>
      <td>2339</td>
    </tr>
  </table>
</div>
<div class="completed">
  <h3>Completed</h3>
  <table>
    <tr>
      <th>Instrument</th>
      <th>Qty.</th>
      <th>Price</th>
      <th>SL</th>
    </tr>
    <tr>
      <td>RELIANCE</td>
      <td>2000</td>
      <td>2351</td>
      <td>2339</td>
    </tr>
    <tr>
      <td>RELIANCE</td>
      <td>2000</td>
      <td>2351</td>
      <td>2339</td>
    </tr>
  </table>
</div>
 -->
