<div class="ongoing">
  <h3>Ongoing</h3>
  <table>
    <tr>
      <th>Instrument</th>
      <th>Qty.</th>
      <th>Price</th>
      <th>SL</th>
    </tr>
    <tr>
      <td>RELIANCE</td>
      <td>2000</td>
      <td>2351</td>
      <td>2339</td>
    </tr>
    <tr>
      <td>RELIANCE</td>
      <td>2000</td>
      <td>2351</td>
      <td>2339</td>
    </tr>
  </table>
</div>
<div class="pending">
  <h3>Pending</h3>
  <table>
    <tr>
      <th>Instrument</th>
      <th>Qty.</th>
      <th>Price</th>
      <th>SL</th>
    </tr>
    <tr>
      <td>RELIANCE</td>
      <td>2000</td>
      <td>2351</td>
      <td>2339</td>
    </tr>
    <tr>
      <td>RELIANCE</td>
      <td>2000</td>
      <td>2351</td>
      <td>2339</td>
    </tr>
  </table>
</div>
<div class="completed">
  <h3>Completed</h3>
  <table>
    <tr>
      <th>Instrument</th>
      <th>Qty.</th>
      <th>Price</th>
      <th>SL</th>
    </tr>
    <tr>
      <td>RELIANCE</td>
      <td>2000</td>
      <td>2351</td>
      <td>2339</td>
    </tr>
    <tr>
      <td>RELIANCE</td>
      <td>2000</td>
      <td>2351</td>
      <td>2339</td>
    </tr>
  </table>
</div>
