.main-wrapper {
  display: flex;
  margin-top: 70px;
}
.main-wrapper {
  // margin: 0px;
  .watchlist-wrapper {
    width: 20%;
  }
  .content-wrapper {
    width: 80%;
    padding: 1%;
  }
}
// .content-wrapper{
//   margin-left: 600px;
//   margin-right: 300px;
// }
