<div class="log">
  <h2>Reset Password</h2>
  <form>
    <div class="input-cont">
      <label for="email">{{email==="" ? "Email" : ""}}</label>
      <input (keyup)="changeEmail($event)" id="email" type="text" class="form-control">
      <div class="border1"></div>
    </div>
    {{email}}
    <p style="color:red;">{{touched ? error : ""}}</p>
        <input type="submit" value="Send a password reset mail" routerLink="#">
  <!--      <button type="button" routerLink="/auth/sign/in">Click Me!</button>
   -->  </form>
</div>
